/*-----------Variables------------*/
/*-------------Mixins-------------*/
/*----------Global rules---------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

/*-------------Header-------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #C1DAE0; }
  @media only screen and (min-width: 600px) {
    .header {
      text-align: center; } }
  @media only screen and (min-width: 960px) {
    .header {
      width: 80%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left; } }

.avatar {
  background-color: #2DA2B8; }
  .avatar__img {
    display: block;
    margin: 50px auto;
    border-radius: 5%;
    -webkit-box-shadow: 5px 5px 5px 5px black;
    box-shadow: 5px 5px 5px 5px black;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 3s;
    animation-duration: 3s; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  @media only screen and (min-width: 960px) {
    .avatar {
      width: 30%; } }

.heading {
  padding: 5px 30px;
  overflow: hidden; }
  .heading__name {
    -webkit-animation-name: move-left;
    animation-name: move-left;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .heading__job {
    -webkit-animation-name: move-up;
    animation-name: move-up;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .heading__name span {
    color: #2DA2B8; }
  .heading__job span {
    -webkit-text-decoration: underline solid #2DA2B8;
    text-decoration: underline solid #2DA2B8; }

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes move-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes move-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes move-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
  @media only screen and (min-width: 600px) {
    .heading {
      padding: 70px 30px; } }
  @media only screen and (min-width: 960px) {
    .heading {
      width: 70%; } }

/*-----------Container-----------*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0px auto; }
  @media only screen and (min-width: 960px) {
    .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 80%; } }

/*-------------aside-------------*/
.side {
  color: white;
  background-color: #2DA2B8; }
  .side__heading {
    background-color: #1A2633;
    text-align: center;
    padding: 10px;
    color: #2DA2B8; }
    .side__heading a {
      color: #2DA2B8;
      text-decoration: none; }
      .side__heading a:hover {
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase; }
  .side__text {
    padding: 25px; }
  .side--space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 30px; }
  @media only screen and (min-width: 960px) {
    .side {
      width: 30%; } }

.contact {
  margin: auto; }
  .contact li {
    padding-left: 5px;
    margin: 10px 10px 10px 30px;
    list-style: none;
    width: 250px;
    color: black; }
  .contact li a {
    color: black; }
  .contact p {
    text-align: justify; }
  @media only screen and (min-width: 600px) {
    .contact {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (min-width: 960px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contact li {
        text-align: left; } }

/*-------------Main-------------*/
.main-content {
  background-color: #C1DAE0;
  padding: 25px; }
  @media only screen and (min-width: 960px) {
    .main-content {
      width: 70%; } }

.card {
  border: 2px solid #2DA2B8;
  -webkit-box-shadow: 5px 5px 5px 5px black;
  box-shadow: 5px 5px 5px 5px black;
  -webkit-animation-name: move-down;
  animation-name: move-down;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  min-width: 300px; }
  .card__innercon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .card--arrow, .card--bullet {
    font-size: 15px;
    padding-right: 20px;
    color: #2DA2B8; }
  .card--bullet {
    font-size: 5px;
    vertical-align: middle; }
  .card p {
    padding-bottom: 20px;
    text-align: justify; }
  .card hr {
    color: #2DA2B8; }
  @media only screen and (min-width: 600px) {
    .card__innercon {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .card__innercon p:nth-child(1) {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
    .card__innercon p:nth-child(2) {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }

@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes move-down {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.card-icon--style {
  padding: 0px 30px 15px 0px;
  color: #2DA2B8;
  font-size: 30px; }

h3 {
  display: inline-block;
  width: 200px; }

.tab-icon {
  color: #2DA2B8; }

/*------------Footer------------*/
.footer {
  background-color: #1A2633;
  padding: 10px;
  width: 100%;
  margin: 0px auto 10px auto; }
  .footer__text {
    text-align: center;
    color: #2DA2B8; }
  @media only screen and (min-width: 960px) {
    .footer {
      width: 80%; } }
